<div>
  <!-- Second navbar for profile settings -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TEST SITE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-4">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-default btn-outline btn-circle collapsed" routerLink="/login">Login</a></li>
        <li>
          <a class="btn btn-default btn-outline btn-circle collapsed" routerLink ="/signup" >Signup <i class=""></i> </a>
        </li>
      </ul> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
</div>
<div class="container minBlock">
    <router-outlet></router-outlet>
</div>


